<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club DB</title>
</head>
<body>
<h1>Wale DB Website for Advanced Programming</h1>
    <div>
        <table>
        <tr>
          <th>club_id</th>
          <th>club_name</th>
          <th>stadium_name</th>
        </tr>
        {% for row in rows %}
          <tr>
          <td>{{row['club_id']}}</td>
          <td>{{row['club_name']}}</td>
          <td>{{row['stadium_name']}}</td>
          </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>